@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --shadow-default: 0.4rem 0.4rem 0 var(--color-zinc-950);
  --shadow-default-dark: 0.4rem 0.4rem 0 var(--color-zinc-100);

  --shadow-default-sm: 0.2rem 0.2rem 0 var(--color-zinc-950);
  --shadow-default-sm-dark: 0.2rem 0.2rem 0 var(--color-zinc-100);

  --shadow-select: 0.3rem 0.3rem 0 var(--color-zinc-950);
  --shadow-select-dark: 0.3rem 0.3rem 0 var(--color-zinc-100);

  --shadow-select-sm: 0.2rem 0.2rem 0 var(--color-zinc-950);
  --shadow-select-sm-dark: 0.2rem 0.2rem 0 var(--color-zinc-100);

  --shadow-input: 0.3rem 0.3rem 0 var(--color-zinc-950);
  --shadow-input-dark: 0.3rem 0.3rem 0 var(--color-zinc-100);

  --shadow-input-sm: 0.2rem 0.2rem 0 var(--color-zinc-950);
  --shadow-input-sm-dark: 0.2rem 0.2rem 0 var(--color-zinc-100);
}

@layer base {
  :root {
    --font-default: var(--font-inter);
  }

  * {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: rgb(113 113 122 / 0.5) transparent;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(113 113 122 / 0.5);
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(113 113 122 / 0.8);
  }

  html,
  body {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
  }

  body,
  ul,
  ol,
  li,
  textarea,
  input,
  select,
  button,
  a {
    font-family: var(--font-default), sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
  }
}

@utility main-layout {
  width: max-content;
  height: max-content;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header header" "information map" "input input";
  gap: 1.5rem 2rem;

  @media (max-width: 1050px) {
    width: 80%;
    height: 100%;
    padding: 2rem 0 3rem;
    margin: 0 auto;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header" "input" "information" "map";
    /* gap: 0rem 0; */
  }

  @media (max-width: 486px) {
    width: 90%;
    margin-top: 0;
  }
}
